In [2]:
import numpy as np 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.tree import DecisionTreeClassifier, plot_tree
import os
for dirname, _, filenames in os.walk('titanic'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

titanic\gender_submission.csv
titanic\test.csv
titanic\train.csv

In [3]:
INPUT_DIR = os.path.join("titanic\\")
test_df = pd.read_csv(os.path.join(INPUT_DIR, "test.csv"))       
train_df = pd.read_csv(os.path.join(INPUT_DIR, "train.csv"))

In [4]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
female_surviors = train_df.loc[train_df["Sex"] == 'female']['Survived']
female_survival_rate = sum(female_surviors) / len(female_surviors)
print(female_survival_rate)

0.7420382165605095

In [7]:
male_surviors = train_df.loc[train_df["Sex"] == 'male']['Survived']
male_survival_rate = sum(male_surviors)/ len(male_surviors)
print(male_survival_rate)

0.18890814558058924

In [8]:
features = ["Pclass", "Sex"]

y = train_df["Survived"]
X = pd.get_dummies(train_df[features]) # ie 0 male: 1 female

decision_tree = DecisionTreeClassifier() # create DecisionTree
decision_tree = decision_tree.fit(X, y) # fit the data to the model 
train_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [9]:
#plot_tree(decision_tree)

ModuleNotFoundError: No module named 'matplotlib'

In [10]:
#Predicition
X_test = pd.get_dummies(test_df[features])
predicitions = decision_tree.predict(X_test)

# save as a csv in proper format 

submission_df = pd.DataFrame({"PassengerId": test_df['PassengerId'], "Survived": predicitions})
submission_df.to_csv('submission.csv', index=False)